body, html {
  background-image: linear-gradient(rgb(106, 7, 172), rgb(0, 0, 0));
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
}

.appBox {
  border: 1px solid black;
  background-color: white;
  margin: 100px auto;
  box-sizing: border-box;
  width: 28%;
  min-width: 250px;
  min-height: 200px;
  height: 430px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: scroll;
  position: relative;
}

.app-header {
  color: white;
  text-transform: uppercase;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: black;
  padding: 1px;
  height: 50px;
  text-align: center;
}
.initialCost {
  font-size: smaller;
  padding: 5px;
  margin-left: 10px;
}

.inlineShift {
  margin-left: 25px;
}


#costInput {
  width: 60%;
  padding: 5px 5px 8px 8px;
  border: 1px solid black;
 }

.rateOfTip {
  padding: 5px;
  text-align: center;
}

#selectRate {
  width: 80%;
  min-width: 200px;
  padding: 12px 8px 12px 8px;
  font-size: 20px;
}

.people {
  font-size: smaller;
  margin-left: 15px;
}

#peopleInput {
  width: 60%;
  padding: 5px 5px 8px 8px;
  border: 1px solid black;
  margin-left: 10px;
}

.calculate {
  margin: 20px;
  display: block;
  text-align: center;
}

#calc-btn {
  width: 80%;
  padding: 15px 8px 15px 8px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: large;
}

#calc-btn:hover {
  background-color: skyblue;
  color: white;
  font-weight: 600;
}

.tipDisplay {
  margin:10px;
  font-size: 30px;
}

.text-pad {
  padding: 10px;
}

.tipDisplay:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.totalDisplay {
  margin: 10px;
  font-size: 30px;
}

.totalDisplay:before {
  content: "Total amount with tip";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.dividedDisplay {
  margin: 10px;
  font-size: 30px;
}

.dividedDisplay:before {
  content: "Divided Tip";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.totalDisplay small {
  display: block;
}

.each {
  display: inline;
}