body, html {
  background-color: deepskyblue;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
}

.appBox {
  border: 1px solid black;
  background-color: white;
  margin: 100px auto;
  box-sizing: border-box;
  width: 30%;
  min-height: 200px;
  height: 430px;
  border-radius: 20px;
  overflow-y: scroll;
  position: relative;
}

.app-header {
  color: white;
  text-transform: uppercase;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: black;
  padding: 1px;
  height: 50px;
  text-align: center;
}
.initialCost {
  font-size: smaller;
  padding: 5px;
  margin-left: 20px;
}

#costInput {
  width: 60%;
  padding: 5px 5px 8px 8px;
  border: 1px solid black;
}

.rateOfTip {
  padding: 5px;
  margin-left: 30px;
}

#selectRate {
  width: 80%;
  padding: 12px 8px 12px 8px;
  font-size: 20px;
}

.people {
  font-size: smaller;
  margin-left: 20px;
}

#peopleInput {
  width: 60%;
  padding: 5px 5px 8px 8px;
  border: 1px solid black;
}

.calculate {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#calc-btn {
  width: 80%;
  padding: 15px 8px 15px 8px;
  text-transform: uppercase;
  margin: 5px 0 0 15px;
  border-radius: 5px;
  font-size: large;
}

#calc-btn:hover {
  background-color: skyblue;
  color: white;
  font-weight: 600;
}

.tipDisplay {
  margin:10px;
  font-size: 30px;
}



.tipDisplay:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.totalDisplay {
  margin: 10px;
  font-size: 30px;
}

.totalDisplay:before {
  content: "Total amount with tip";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.totalDisplay small {
  display: block;
}



#each {
  display: inline;
}